* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    /*flex-direction: row;*/
    align-items: center;
    justify-content: center;
  }

  .logo > img {
    width: 75px;
  }

  .hamburger {
    text-align: right;
    padding-right: 13px;
    color: white;
    width: 100%;
    font-size: 40px;
  }

  
  
  .menu {
    text-align: right;
  }
  
  li {
    list-style: none;
  }

  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  @media screen and (max-width: 799px) {
    .hamburger {
    float: right;
    display: block;}
    .menu {display: none;}

    /*nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
    }
  }
  